<form [formGroup]="edicaoAdministradorForm" (ngSubmit)="editarAdministrador()">
  <mat-grid-list
    cols="1"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          formControlName="administradorNome"
          matTooltip="O nome deve conter no mínimo 3 caracteres"
        />
        <mat-error
          *ngIf="
            edicaoAdministradorForm
              .get('administradorNome')!
              .hasError('required')
          "
        >
          Por favor, preencha o nome.
        </mat-error>
        <mat-error
          *ngIf="
            edicaoAdministradorForm
              .get('administradorNome')!
              .hasError('minlength')
          "
        >
          O nome deve conter no mínimo 3 caracteres
        </mat-error>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="2"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="administradorEmail"
          matTooltip="exemplo@exemplo.com"
        />
        <mat-error
          *ngIf="
            edicaoAdministradorForm
              .get('administradorEmail')!
              .hasError('required')
          "
        >
          Por favor, preencha o campo de email.
        </mat-error>
        <mat-error
          *ngIf="
            edicaoAdministradorForm.get('administradorEmail')!.hasError('email')
          "
        >
          Por favor, digite um email válido.
        </mat-error>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          class="form-control"
          formControlName="administradorSenha"
        />
        <mat-error
          *ngIf="
            edicaoAdministradorForm
              .get('administradorSenha')!
              .hasError('required')
          "
        >
          Por favor, preencha a senha
        </mat-error>
        <mat-icon matSuffix>assignment_ind</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="2"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Cpf</mat-label>
        <input
          matInput
          class="form-control"
          mask="000.000.000-00"
          formControlName="administradorCpf"
          matTooltip="000.000.000-00"
        />
        <mat-error
          *ngIf="
            edicaoAdministradorForm
              .get('administradorCpf')!
              .hasError('required')
          "
        >
          Por favor, preencha o Cpf.
        </mat-error>
        <mat-icon matSuffix>assignment_ind</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input
          matInput
          class="form-control"
          mask="(00) 00000-0000"
          formControlName="administradorTelefone"
          matTooltip="(00) 00000-0000"
        />
        <mat-error
          *ngIf="
            edicaoAdministradorForm
              .get('administradorTelefone')!
              .hasError('required')
          "
        >
          Por favor, preencha o Telefone.
        </mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="1"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <button mat-raised-button class="custom-button-editar" type="submit">
        Editar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
