mat-grid-tile {
  background: white;
  margin-top: 30px;
}

.custom-grid-list {
  max-width: 850px;
  width: 100%;
  margin: auto;
}

.custom-form-field {
  width: 100%;
  border-radius: 10px;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 16px;
}

.mat-form-field {
  font-size: 18px;
}

.custom-button-editar {
  color: white !important;
  background-color: #1248b2 !important;
  border-radius: 10px !important;
  width: 30%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
