<div class="relative overflow-x-auto sm:rounded-lg">
  <div class="p-4">
    <div class="flex justify-between items-center">
      <!-- Campo de busca -->
      <div class="relative">
        <input
          type="text"
          placeholder="Buscar"
          class="pl-10 pr-3 py-2 text-sm text-gray-900 border rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
        />
      </div>
      <!-- Botão de Cadastro -->
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        routerLink="/campos-sala"
      >
        Cadastrar
      </button>
    </div>
    <!-- Tabela de Reservas -->
    <table class="w-full text-sm text-left text-gray-500 mt-4">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th class="px-4 py-2">Sala</th>
          <th class="px-4 py-2">Professor</th>
          <th class="px-4 py-2">Data</th>
          <th class="px-4 py-2">Turno</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let reserva of reservas"
          class="bg-white border-b hover:bg-gray-50"
        >
          <td class="px-4 py-2">{{ reserva.sala.nome }}</td>
          <td class="px-4 py-2">{{ reserva.professor.nome }}</td>
          <td class="px-4 py-2">{{ reserva.data | date }}</td>
          <td class="px-4 py-2">{{ reserva.turno.nome }}</td>
          <td class="px-4 py-2">
            <span
              class="px-2 py-1 rounded-full text-white"
              [ngClass]="{
                'bg-green-500': reserva.status === 'Agendado',
                'bg-red-500': reserva.status === 'Cancelado',
                'bg-yellow-500': reserva.status === 'Pendente'
              }"
            >
              {{ reserva.status }}
            </span>
          </td>
          <td class="px-4 py-2 flex items-center space-x-2">
            <button
              class="text-blue-600 hover:underline"
              (click)="irParaEditar(reserva.id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="text-red-600 hover:underline"
              (click)="deletarReserva(reserva.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
