@tailwind base;
@tailwind utilities;
@tailwind components;

.example-spacer {
  flex: 1 1 auto;
}

.nav-bar {
  height: 100px;
}
.nav-item {
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  font-size: 16px;
  padding: 5px 8px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: #377afe;
  transform: scale(1.1);
  border-radius: 10px;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* Alinha todos os itens à direita */
}

.logo {
  height: 80px;
  cursor: pointer;
}

.bg-color-nav {
  background-color: #1248b2;
}

a {
  text-decoration: none;
}
