<form [formGroup]="edicaoTurmaForm" (ngSubmit)="editarTurma()">
  <mat-grid-list
    cols="1"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          formControlName="turmaNome"
          matTooltip="O nome deve conter no mínimo 3 caracteres"
        />
        <mat-error
          *ngIf="edicaoTurmaForm.get('turmaNome')!.hasError('required')"
        >
          Por favor, preencha o nome.
        </mat-error>
        <mat-error
          *ngIf="edicaoTurmaForm.get('turmaNome')!.hasError('minlength')"
        >
          O nome deve conter no mínimo 3 caracteres
        </mat-error>
        <mat-icon matSuffix>font_download</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="3"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Quantidade</mat-label>
        <input matInput type="text" formControlName="turmaQuantidadeAlunos" />
        <mat-error
          *ngIf="
            edicaoTurmaForm.get('turmaQuantidadeAlunos')!.hasError('required')
          "
        >
          Por favor, preencha o campo.
        </mat-error>

        <mat-icon matSuffix>category</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="turmaTurno" class="select-button">
          <mat-option value="Matutino">Matutino</mat-option>
          <mat-option value="Vespertino">Vespertinio</mat-option>
          <mat-option value="Noturno">Noturno</mat-option>
        </mat-select>
        <mat-error
          *ngIf="edicaoTurmaForm.get('turmaTurno')!.hasError('required')"
        >
          Por favor, preencha o campo.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Turno</mat-label>
        <input matInput class="form-control" formControlName="turmaCodigo" />
        <mat-error
          *ngIf="edicaoTurmaForm.get('turmaCodigo')!.hasError('required')"
        >
          Por favor, preencha o campo.
        </mat-error>
        <mat-icon matSuffix>filter_9_plus</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="1"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <button mat-raised-button class="custom-button-editar" type="submit">
        Editar sala
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
