<form [formGroup]="cadastroProfessorForm" (ngSubmit)="criarProfessor()">
  <mat-grid-list
    cols="1"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          formControlName="professorNome"
          matTooltip="O nome deve conter no mínimo 3 caracteres"
          id="nome"
        />
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorNome')!.hasError('required')
          "
        >
          Por favor, preencha o nome.
        </mat-error>
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorNome')!.hasError('minlength')
          "
        >
          O nome deve conter no mínimo 3 caracteres
        </mat-error>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list
    cols="2"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="professorEmail"
          matTooltip="exemplo@exemplo.com"
          id="email"
        />
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorEmail')!.hasError('required')
          "
        >
          Por favor, preencha o campo de email.
        </mat-error>
        <mat-error
          *ngIf="cadastroProfessorForm.get('professorEmail')!.hasError('email')"
          id="mensagemEmailInvalido"
        >
          Por favor, digite um email válido.
        </mat-error>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Confirme o email</mat-label>
        <input
          matInput
          type="email"
          formControlName="confirmacaoEmail"
          matTooltip="O email deve ser o mesmo do campo anterior"
          type="confirmarcaoEmail"
          id="confirmacaoEmail"
        />
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorEmail')!.hasError('required')
          "
        >
          Por favor, preencha o campo de email.
        </mat-error>
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('confirmacaoEmail')!.hasError('equalsTo')
          "
          id="mesmoEmailCampoAnterior"
        >
          Por favor, digite o mesmo email do campo anterior.
        </mat-error>

        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hideSenha ? 'password' : 'text'"
          formControlName="professorSenha"
          matTooltip="A senha deve conter no mínimo 6 caracteres"
          id="senha"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideSenha = !hideSenha"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideSenha"
          type="button"
        >
          <mat-icon>{{ hideSenha ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorSenha')!.hasError('required')
          "
        >
          Por favor, preencha o campo de senha.
        </mat-error>
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorSenha')!.hasError('minlength')
          "
        >
          <span id="mensagemErroTamanhoSenha"
            >A senha deve conter no mínimo 6 caracteres</span
          >
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Confirme a senha</mat-label>
        <input
          matInput
          [type]="hideConfirmacao ? 'password' : 'text'"
          formControlName="confirmacaoSenha"
          matTooltip="A senha deve ser a mesma do campo anterior"
          id="confirmacaoSenha"
        />
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('confirmacaoSenha')!.hasError('equalsTo')
          "
          id="mesmaSenhaCampoAnterior"
        >
          Por favor, digite a mesma senha do campo anterior.
        </mat-error>

        <mat-error
          *ngIf="
            cadastroProfessorForm.get('confirmacaoSenha')!.hasError('required')
          "
        >
          Por favor, preencha o campo de confirmação de senha.
        </mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmacao = !hideConfirmacao"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmacao"
          type="button"
          hideConfirmacao
        >
          <mat-icon>{{
            hideConfirmacao ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="3"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input
          matInput
          class="form-control"
          mask="(00) 00000-0000"
          formControlName="professorTelefone"
          matTooltip="(00) 00000-0000"
          id="telefone"
        />
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorTelefone')!.hasError('required')
          "
        >
          Por favor, preencha o Telefone.
        </mat-error>
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorTelefone')!.hasError('pattern')
          "
          id="mensagemTelefoneInvalido"
        >
          Telefone inválido.
        </mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>CPF</mat-label>
        <input
          matInput
          class="form-control"
          mask="000.000.000-00"
          formControlName="professorCpf"
          matTooltip="000.000.000-00"
          id="cpf"
        />
        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorCpf')!.hasError('required')
          "
        >
          Por favor, preencha o CPF.
        </mat-error>
        <mat-error
          *ngIf="cadastroProfessorForm.get('professorCpf')!.hasError('pattern')"
          id="mensagemCpfInvalido"
        >
          Cpf inválido.</mat-error
        >
        <mat-icon matSuffix>assignment_ind</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field
        class="custom-form-field select-button"
        appearance="outline"
        id="materia"
      >
        <mat-label>Matéria</mat-label>

        <mat-select formControlName="professorMateria" class="select-button">
          <mat-option value="Lógica de programação"
            >Lógica de programação</mat-option
          >
          <mat-option value="Implementação de sistemas"
            >Implementação de sistemas</mat-option
          >
          <mat-option value="Teste de sistemas">Teste de sistemas</mat-option>
        </mat-select>

        <mat-error
          *ngIf="
            cadastroProfessorForm.get('professorMateria')!.hasError('required')
          "
          id="mensagemMateriaInvalida"
        >
          Por favor, preencha a Matéria.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="2"
    [rowHeight]="90"
    class="custom-grid-list"
    gutterSize="5"
  >
    <mat-grid-tile>
      <button
        mat-raised-button
        class="custom-button-cadastrar custom-button"
        type="submit"
        id="btn-cadastrar"
      >
        Cadastrar
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button
        mat-raised-button
        class="custom-button-cancelar custom-button"
        (click)="limparCampos()"
        type="button"
      >
        Limpar Campos
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
