<body class="">
  <section class="mt-28">
    <div class="flex justify-center items-center">
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img src="assets/section1.png" class="img-card p-2" alt="" />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Professores</h3>
              <p class="text-sm">Gerencie os professores da instituição.</p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todos os professores cadastrados na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/professores"
          >
            Gerenciar Professores
          </button>
        </div>
      </div>
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img src="/assets/icon-sala.png" class="img-card p-2" alt="" />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Sala</h3>
              <p class="text-sm">Gerencie os salas da instituição.</p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todas as salas cadastradas na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/salas"
          >
            Gerenciar salas
          </button>
        </div>
      </div>
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img
                src="/assets/icon-materiais.jpg"
                class="img-card p-2"
                alt=""
              />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Materiais</h3>
              <p class="text-sm">Gerencie os materiais da instituição.</p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todos os materiais cadastrados na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/materiais"
          >
            Gerenciar materiais
          </button>
        </div>
      </div>
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img src="/assets/icon-turma.jpg" class="img-card p-2" alt="" />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Turmas</h3>
              <p class="text-sm">Gerencie as turmas da instituição</p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todas as turmas cadastradas na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/turmas"
          >
            Gerenciar turmas
          </button>
        </div>
      </div>
    </div>
  </section>
</body>
